# Bot directory
bot/

# Environment variable file
.env

# Build directory
build/

# Docker temp files
.docker_temp_*

# Optional npm cache directory
.npm

# Dependencies
node_modules/
package-lock.json
